/*========START COMPONENTS========*/
:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
}

.current {
  color: var(--accent-color);
}

.body {
  color: var(main-color);
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*========END COMPONENTS========*/
/*========START HEADER========*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.part-logo {
  color: var(--main-color);
}

.contacts-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*========END HEADER========*/
/*========START HERO========*/
.hero {
  background: #2f303a;
  height: 600px;
}

.title {
  padding-top: 200px;
  padding-bottom: 280px;
  padding-right: 452px;
  padding-left: 452px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
}

.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/*========END HERO========*/
/*========1 SECTION START========*/
.header-section-qualities {
  display: none;
}

.qualities-head-list {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

.qualities-list-text {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*========1 SECTION END========*/
/*========2 SECTION START========*/
.header-section {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-color);
}
/*========2 SECTION END========*/
/*========3 SECTION START========*/
.section-team {
  background: #f5f4fa;
}
.names {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.position {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*========3 SECTION END========*/
/*========PORTFOLIO START========*/
.main-header-projects {
  display: none;
}

.filters-btn {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.filters-btn:hover,
.filters-btn:focus {
  background: #2196f3;
}

.header-projects {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.projects-text {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*========PORTFOLIO END========*/
/*========FOOTER START========*/
.footer {
  background: #2f303a;
}
.address-list-location {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.footer-part-logo {
  color: var(--third-text-color);
}
.address-list-item {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/*========FOOTER END========*/
